<meta name="author" content="Nicolaus Moeller">
<meta name="referrer" content="no-referrer">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta name="viewport" content="initial-scale=1,width=device-width,minimum-scale=1">

<link rel="alternate" type="application/rss+xml" title="Subscribe to What's New"
      href="https://nicolaus1990.gitlab.io/n-org-blog-gen/rss.xml" />

<!-- CSS from outside to try-->
<!--  <link rel="stylesheet" type="text/css" href="https://gongzhitaao.org/orgcss/org.css"/> -->



<!-- Html that contains links with relative paths, have to be imported in each org file individually. 

Like this:
* HTML HEADER (CSS, and else)                                      :noexport:
#+HTML_HEAD_EXTRA: ...
#+HTML_HEAD_EXTRA: ...

-->
<!-- <link href= "resources/style.css" rel="stylesheet" type="text/css" /> -->
<!-- <link rel="icon" href="resources/favicon.ico"> -->
<!-- <link rel="apple-touch-icon-precomposed" href="resources/apple-touch-icon.png"> -->
<!-- <link rel="apple-touch-icon-precomposed" href="resources/favicon-152.png"> -->
<!-- <link rel="msapplication-TitleImage" href="resources/favicon-144.png"> -->
<!-- <link rel="msapplication-TitleColor" href="#0141ff"> -->

<!-- BEGIN Katex import -->
<!-- <script src="resources/katex.min.js"></script> -->
<!-- <script src="resources/auto-render.min.js"></script> -->
<!-- <link rel="stylesheet" href="resources/katex.min.css"> -->
<!-- <script>document.addEventListener("DOMContentLoaded", function() { renderMathInElement(document.body); });</script> -->
<!-- END Katex import -->
