<meta name="author" content="Nicolaus Moeller">
<meta name="referrer" content="no-referrer">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta name="viewport" content="initial-scale=1,width=device-width,minimum-scale=1">


<link href= "../resources/style.css" rel="stylesheet" type="text/css" /> 
<link rel="icon" href="../resources/favicon.ico"> 
<link rel="apple-touch-icon-precomposed" href="../resources/apple-touch-icon.png"> 
<link rel="apple-touch-icon-precomposed" href="../resources/favicon-152.png"> 
<link rel="msapplication-TitleImage" href="../resources/favicon-144.png"> 
<link rel="msapplication-TitleColor" href="#0141ff">



