<div id="preamble" class="status">
  <div class="header">
    <a href="https://nicolaus1990.gitlab.io/">Nikki's thoughts</a>
    <div class="sitelinks">
      <a href="./archive.html">Blog</a>
      <a href="../projects-page/projects.html">Projects</a>
      <a href="../about-page/about.html">About</a>
      <a href="https://gitlab.com/nicolaus1990">Gitlab</a>
    </div>
  </div>
</div>
