<meta name="author" content="Nicolaus Moeller">
<meta name="referrer" content="no-referrer">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta name="viewport" content="initial-scale=1,width=device-width,minimum-scale=1">

<link rel="alternate" type="application/rss+xml" title="Subscribe to What's New"
      href="https://nicolaus1990.gitlab.io/n-org-blog-gen/rss.xml" />

<!-- Html that contains links with relative paths, have to be imported in each org file individually. 
     For this, use :html-header in plist of org-publish-project-alist. -->
<link href="{{$ROOT_PATH}}resources/style.css" rel="stylesheet" type="text/css" /> 
<link rel="icon" href="{{$ROOT_PATH}}resources/favicon.ico"> 
<link rel="apple-touch-icon-precomposed" href="{{$ROOT_PATH}}resources/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="{{$ROOT_PATH}}resources/favicon-152.png"> 
<link rel="msapplication-TitleImage" href="{{$ROOT_PATH}}resources/favicon-144.png"> 
<link rel="msapplication-TitleColor" href="#0141ff"> 


<!-- For Katex, insert in org file:  -->
<!-- #+INCLUDE: :only-contents       -->
<!-- or...                           -->
<!-- * HTML HEADER (CSS, and else)                                      :noexport: -->
<!-- #+HTML_HEAD_EXTRA: <link rel="stylesheet" type="text/css" href="../resources/katex/katex.min.css" />  -->
<!-- #+HTML_HEAD_EXTRA: <script defer src="../resources/katex/katex.min.js"></script>  -->
<!-- #+HTML_HEAD_EXTRA: <script defer src="../resources/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>  -->
<!-- # Katex import -->
<!-- #+HTML_HEAD_EXTRA: <script src="../resources/katex.min.js"></script>  -->
<!-- #+HTML_HEAD_EXTRA: <script src="../resources/auto-render.min.js"></script>  -->
<!-- #+HTML_HEAD_EXTRA: <link rel="stylesheet" href="../resources/katex.min.css">  -->
<!-- #+HTML_HEAD_EXTRA: <script>document.addEventListener("DOMContentLoaded", function() { renderMathInElement(document.body); });</script>   -->

<!-- BEGIN Katex import -->
<!-- <script src="resources/katex.min.js"></script>  -->
<!-- <script src="resources/auto-render.min.js"></script>  -->
<!-- <link rel="stylesheet" href="resources/katex.min.css"> -->
<!-- <script>document.addEventListener("DOMContentLoaded", function() { renderMathInElement(document.body); });</script> -->
<!-- END Katex import -->


