<div class="header">
  <a href="https://nicolaus1990.gitlab.io/">N's thoughts</a>
  <div class="sitelinks">
    <a href="{{$ROOT_PATH}}n-org-blog-gen/archive.html">Blog</a>
    <a href="{{$ROOT_PATH}}projects-page/projects.html">Projects</a>
    <a href="{{$ROOT_PATH}}about-page/about.html">About</a>
    <a href="https://gitlab.com/nicolaus1990">Gitlab</a>
  </div>
</div>
