/* html, body {
  height: 100%;
  margin: 0;
}
*/

#mainDiv {
}

#gameDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
#snakeCanvas {
  background: black;
  border: 1px solid white;
}
